/* General */

* {
	box-sizing: border-box;
}

html, body {
	color: #9b9b9b;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	background-color: #FCFCF7;


}

.containerWidth {
	width: 1000px;
	margin: 0 auto;
	
}

.buttonColorBox {
	color: #fff;
	background-color: #FF5252;
	border-radius: 3px;
	padding: 4px 25px;
	letter-spacing: 2px;
	font-size: .7rem;
	font-family: 'Lato', sans-serif;
}


.clear {
	clear: both;
}

.arrow {
	display: block;
	text-align: center;
	margin: 0 auto;
}



/* Home Section*/

#home {
	padding-top: 40px;
	height: 1024px;
}

#home svg {
	display: block;
	text-align: center;
	margin: 0 auto;

}

section h3 {
	text-align: left;
}

section nav {
	text-align: right;

}

nav a {
	text-decoration: none;
	margin-left: 40px;
	padding-bottom: 2px;
	color: #9b9b9b;
}

nav a:hover {
	color: #3d3737;
	}


#hero {
	margin-top:200px;
	margin-bottom: 80px;

}

#hero span {
	font-family: 'Open Sans', sans-serif;
	font-size: 11rem;
	font-weight: 800;
}

.turq {
	color: rgba(80,227,194, 0.5);
	letter-spacing: 20px;
	z-index: 2;
	left: -1000px;
	position: absolute;
	-webkit-animation: slide 2s forwards;
	-webkit-animation-delay: 0.5s;
	animation: slide 2s forwards;
	animation-delay: 0.5s;
}

@-webkit-keyframes slide {
	100% { left:540px; }
}

@keyframes slide {
	100% { left:540px; }
}

.orange {
	/*color: rgba(245,166,35, 1);*/
	color: rgba(244,172,53,1);
	letter-spacing: 36px;
	z-index: 1;
	right: -1000px;
	position: absolute;
	-webkit-animation: slideRight 2s forwards;
	-webkit-animation-delay: 0.5s;
	animation: slideRight 2s forwards;
	animation-delay: 0.5s;
}

@-webkit-keyframes slideRight {
	100% { right:430px; }
}

@keyframes slideRight {
	100% { right:430px; }
}

#home p {
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	color: #3d3737;
	letter-spacing: 1px;
	font-weight: 700;
}



/* Work Section */

#work {
	background-color: #3d3737;
	color: #fff;
	height: auto;
	padding-top: 40px;
	padding-bottom: 40px;
}

#work ul {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;

}

#work li {
	display: inline-block;
	margin: 20px;
}

#work li a img:hover {
	border: 2px solid #FF5252;
	
}

#work p {
	margin-top: 5px;
	text-align: left;
}

.projectTitle {
	font-weight: 700;
}

/* About Section*/

#about {
	height: 512px;
	padding-top: 40px;
	
}

#about h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	color: #3d3737;
	letter-spacing: 1px;
	font-weight: 700;
}

#about p {
	margin-top: 20px;
	margin-bottom: 40px;
	line-height: 1.8;
}

.skillBlock {
	
}

/* Footer Section */

#footer {
	background-color: #3D9BA9;
	padding-top: 40px;
	padding-bottom: 40px;
	height: auto;
}

#footer img	{
	margin-right: 20px;

}

#footer svg {
	display: block;
	margin: 0 auto 40px;
}

#links {
	float: left;
}

#links h3 {
	font-family: 'Lato', sans-serif;
	font-size: .8rem;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #FCFCF7;
	letter-spacing: 1.5px;
	font-weight: 700;
}

#links img {
	max-width: 100%;
	height: auto;
}

#contact {
	text-align: right;
	float: right;
}

#contact h3 {
	text-align: right;
	font-family: 'Lato', sans-serif;
	font-size: .8rem;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #FCFCF7;
	letter-spacing: 1.5px;
	font-weight: 700;
}

form {
}

label {
	text-align: right;
	display: block;
	margin-bottom: 5px;
	color: #fff;
}

input {
	margin-bottom: 10px;
	width: 400px;
	padding: 6px;
}

textarea {
	vertical-align: top;
	display: block;
	margin-bottom: 20px;
	width: 400px;
	padding: 6px;
}

button {
	appearance: none;
	color: #fff;
	background-color: #FF5252;
	border-radius: 3px;
	border: none;
	padding: 4px 40px;
	letter-spacing: 2px;
	font-size: .7rem;
	font-family: 'Lato', sans-serif;
}


#footer p {
	clear:both;
	color: #fff;
}


/* Media Queries - Mobile */

@media screen and (max-width: 768px) {

.containerWidth {
	width: 80%;
    margin: 0 auto
}

#home {
	height: auto;
}

#work {
	height: auto;
	width: 100%;
	margin: 0 auto;
}

#work ul {
	text-align: center;
}

#about {
	height: auto;
	padding-bottom: 60px;
}

#footer {
	height: auto;
}

#contact {
	text-align: left;
	float: none;
}

#contact h3 {
	text-align: left;
}

label {
	text-align: left;
}

#links {
	float: none;
	margin-bottom: 40px;
}

#footer hr {
	display: none;
}

#footer p {
	padding-top: 20px;
	padding-bottom: 40px;
}


}

/* Animations */

@keyframes typeOne {
	from {width:0; opacity: 0; }
}

@keyframes fadeIn {
	from {
		color: #9b9b9b;
	}
	to {
		color: #ff0080;
	}
}


/* CSS animate Animations*/

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}



@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


/* hover.css animations*/

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
